<h1 class="page-header">Articles</h1>
<div class="container">
  <div class="row">
    <ol>
      <% @articles.each do |article| %>
        <li class="article-card">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
              </div>
              <div class="flip-card-back">
                <h1><%= article.title %></h1>
                <p><%= article.body %></p>
                <p><%= article.user.full_name %></p>
                <p><%= article.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
                <p><%= link_to "View", article %></p>
                <% if current_user == article.user %>
                  <p><%= link_to "Edit", edit_article_path(article) %></p>
                  <% if article.undiscarded? %>
                    <p><%= link_to "Undo delete", article_path(article) %></p>
                  <% else %>
                    <p><%= link_to "Delete", article_path(article), data: {
                                      turbo_method: :delete,
                                      turbo_confirm: "Are you sure?"
                                    } %><p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>


<button class="btn" style="margin-top: 60px;">
<%= link_to "New Article", new_article_path %>
</button>