
<hr>
<h2 class="page-header">꧁ Articles ꧂</h2>
<hr style="margin-bottom: 2%;">
<div class="container">
  <div class="row">
    <ol>
      <% @articles.each do |article| %>
        <li class="article-card">
          <div>
            <div>
              <div>
              </div>
              <div>
                <h1><%= article.title %></h1>
                <p><%= truncate(article.body, length:50) %></p>
                <p><%= article.user.full_name %></p>
                <p><%= article.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
                <p><%= link_to "View", article %></p>
                <% if current_user == article.user %>
                  <p><%= link_to "Edit", edit_article_path(article) %></p>
                  <% if article.undiscarded? %>
                    <p><%= link_to "Undo delete", article_path(article) %></p>
                  <% else %>
                    <p><%= link_to "Delete", article_path(article), data: {
                                      turbo_method: :delete,
                                      turbo_confirm: "Are you sure?"
                                    } %><p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<% if current_user  %>
  <button style="margin-left: 47%; margin-bottom: 5%;">
    <%= link_to "New Article", new_article_path %>
  </button>
<% end %>
