<div class="card">
<ol>
  <div class="container article-card" style="margin-top: 5%;">
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>
    <p>
      Posted by:
      <strong><%= @article.user.full_name %></strong>    </p>
    <p>
      On <%= @article.created_at.strftime("%B %d %Y, %l:%M%P") %>
    </p>
      <% if current_user == @article.user %>
        <li><%= link_to "Edit", edit_article_path(@article) %></li>
        <% if @article.discard %>
          <li><%= link_to "Undo delete", article_path(@article), method: :delete %></li>
        <% else %>
          <li><%= link_to "Delete", article_path(@article), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } %></li>
        <% end %>
      <% end %>
  </div>
</ol>
</div>
