<h1 class="page-header">User Profile</h1>
<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name %></h3>
<h3><%= @user.email %></h3>
<h3><%= @user.password %></h3>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>


<h2>Articles</h2>
<% @user.articles.each do |article| %>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>
<% end %>


<h2>Add a article:</h2>
<%= form_with model: [ @user, @user.articles.build ] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>