<h1 class="page-header">User Profile</h1>
<ol class="user-card">
  <h3><%= @user.full_name %></h3>
  <h3><%= @user.email %></h3>

  <% if current_user == @user %>
    <li><%= link_to "Edit", edit_user_path(@user) %></li>
    <li><%= link_to "Destroy", user_path(@user), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
  <% end %>
</ol>


<h2>Articles</h2>
<% @user.articles.each do |article| %>
<ol class="article-card">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>
</ol>
<% end %>
</ol>
<% if current_user == @user %>
  <h2>Add an article:</h2>
  <%= link_to "New Article", new_article_path %>
<% end %>
